* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
* {
    outline: 1px solid red;
} */

header {
    width: 100%;
    height: 123px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#topbar {
    width: 100%;
    height: 47px;
    padding: 12px 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}

#topbar .topleft {
    display: flex;
    height: 21px;
    gap: 2px;
    font-size: 14px;

}

.topleft a,
.navright a,
.ptop-right a {
    text-decoration: none;
    border-bottom: 2px solid #FFBF1C;
    color: black;
    font-weight: 800;
}

#topbar .topright {
    display: flex;
    gap: 16px;
    width: 206px;
    height: 21px;
}

.topright p {
    width: 66px;
    height: 21px;
    font-size: 14px;
}

.topright .icons {
    display: flex;
    gap: 16px;
    cursor: pointer;
}

#navbar {
    height: 76px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 72px;
}

#navbar .navleft {
    display: flex;
    align-items: center;
    gap: 8px;

    color: #000000;
}

.navleft p {
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 600;
    color: #3E444F;

}

.navleft p span {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 32px;
    font-weight: 200;
}

.e {
    position: absolute;
}

.navleft p .pro {
    font-size: 5px;
    font-weight: 500;
    position: relative;
    top: -20px;
    right: 15px;
    font-size: 10px;
}

.navmenu {
    display: flex;
    gap: 48px;

}

.navmenu a,
.navright a {
    text-decoration: none;
    color: #111926;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    position: relative;

}

.navmenu a.active::after {
    content: "";
    position: absolute;
    left: -10px;
    bottom: -15px;
    width: 150%;
    height: 3px;
    background: #143AA2;
    border-radius: 3px;
}

.navright {
    display: flex;
    gap: 24px;
    align-items: center;
}

.banner {
    width: 100%;
    height: 720px;
    background-image: url(/assests/images/hero-bg.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    position: relative;
    /* important */
    padding: 60px;
    overflow: hidden;
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.352);
    z-index: 0;

}

.banner * {
    position: relative;
    z-index: 1;
}

.banner-content {
    height: 328px;
    width: 612px;
    margin-top: 150px;
    margin-left: 130px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    color: white;
    font-family: "Plus Jakarta Sans", sans-serif;
}

.banner-content h1 {
    font-size: 56px;
    font-weight: 400;
    margin-bottom: 20px;
}

.banner-content h1 span {
    font-weight: 700;
}

.banner-content p {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgba(234, 234, 234, 1);
    margin-bottom: 25px;
}

.banner-content a {
    width: fit-content;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    border-bottom: 2px solid #FFBF1C;
}

/* Arrow buttons */
.banner .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.3);
    border: none;
    cursor: pointer;
    padding: 10px;
    border: 1px solid white;
    border-radius: 50%;
}

/* Left arrow */
.banner .arrow.left {
    left: 20px;
}

/* Right arrow */
.banner .arrow.right {
    right: 20px;
}

.banner .arrow:hover {
    background: rgba(255, 253, 253, 0.762);

}

/* Projects */
.projects {
    font-family: "Plus Jakarta Sans", sans-serif;
    width: 100%;
    height: 1090px;
    padding: 80px 72px;
}

.project-top {
    height: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.ptop-left p {
    margin-bottom: 20px;
}

.ptop-left h1 {

    font-size: 40px;
    font-weight: 700;
    color: #111926;
}

.ptop-right {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    font-weight: 600;
    color: #111926;
}

.ptop-right a,
.sa-desc h1 {
    font-weight: 400;
}

.project-content {
    display: flex;
    gap: 100px;
    margin-bottom: 100px;
}

.project-description {
    width: 612px;
    display: flex;
    flex-direction: column;
    text-align: justify;
    gap: 44px;
}

.project-description .button,
.card .button,
.s-card .button,
.sa-desc .button {
    display: flex;
    gap: 9px;
    align-items: center;
}

.project-description .button a,
.card .button a,
.sa-desc .button a {
    text-decoration: none;
    border-bottom: 2px solid #FFBF1C;
    color: black;
    font-weight: 400;
}

.project-listing,
.service-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card {
    width: 385px;
    height: 190px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.card p {
    color: #3E444F;
}

.services {
    height: 824px;
    background-color: rgba(20, 58, 162, 1);
    padding: 100px 72px;
    color: white;
    font-family: "plus jakarta sans", sans-serif;

}

.service-top {
    width: 840px;
    height: 97px;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
}


.service-cards {
    margin-top: 80px;
}

.s-card {
    padding: 50px;
    width: 384px;
    height: 415px;
    border: 1px solid #eee;
    position: relative;
}

.s-card .desc {
    position: absolute;
    bottom: 30px;
}

.s-card h2 {
    font-size: 22px;
    font-weight: 500;
    line-height: 1.35;
    margin-bottom: 20px;
}

.s-card .button a {
    text-decoration: none;
    border-bottom: 2px solid #FFBF1C;
    color: white;
}

.teams {
    height: 1074px;
    padding: 80px 0px;
    font-family: "plus jakarta sans", sans-serif;
}

.team-top,
.a-top,
.blog-top {
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
}



.info-cards {
    max-width: 1180px;
    margin: 80px auto 0;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 48px;
}


.info-card {
    width: 384px;
}

.info-card img {
    width: 384px;
    height: 420px;
    object-fit: cover;
}

.info {
    margin-top: 20px;
    text-align: center;
}

.info p {
    padding-top: 5%;
    color: #3E444F;
}

/* Service area */
.service-area {
    font-family: "Plus Jakarta Sans", sans-serif;
    height: 1045px;
    padding: 80px 72px;
}

.a-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 90px;
    padding: 20px;
    border-bottom: 1px solid #1e1d1d;

}

.a-navlink {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    position: relative;
    cursor: pointer;
}

.a-navlink img {
    width: 32px;
    height: 32px;
}

.a-navlink a,
.sa-desc p,
.sa-desc li {
    text-decoration: none;
    color: rgba(89, 89, 89, 1);
    font-size: 16px;
    font-weight: 400;
}

.a-navlink.active a {
    color: #143AA2;
}

.a-navlink.active::after {
    content: "";
    position: absolute;
    left: 10;
    bottom: -22px;
    width: 125%;
    height: 3px;
    background: #143AA2;
    border-radius: 3px;
}

/* Dots */
.dots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 150px;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 999px;
    background: rgba(0, 0, 255, 0.205);
}

.dot.is-active {
    background: rgba(20, 58, 162, 1);
    box-shadow: 0 0 0 6px rgba(2, 5, 13, 0.112);
}

/* service area content */
.sa-content {
    display: flex;
    height: 50%;
    gap: 100px;
    margin-top: 80px;
    align-items: center;
    justify-content: center;
}

.sa-content img {
    width: 50%;
    height: 90%;
}

.sa-desc {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.sa-desc li {
    margin-left: 20px;
    margin-bottom: 18px;
}

/* Blog section */
.blogs {
    font-family: "Plus Jakarta Sans", sans-serif;
    width: 100%;
    height: 1020px;
    padding: 80px 72px;
}

.blog-top {
    margin-top: 40px;
    margin-bottom: 80px;
}

.news-grid {
    max-width: 1290px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 48px;
}

.news-card {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.news-media {
    position: relative;
    height: 480px;
    overflow: hidden;
    background: #eef2f7;
}

.news-media img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.date-tag {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(17, 25, 38, .92);
    color: #fff;
    font-size: 11px;
    letter-spacing: .12em;
    padding: 15px;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.news-meta {
    display: flex;
    gap: 12px;
    margin-top: 6px;
}

.pill {
    font-size: 11px;
    color: rgba(20, 58, 162, 1);
    text-decoration: none;
    padding-bottom: 2px;
    border-bottom: 1px solid rgba(20, 58, 162, 1);
}

.pill:hover {
    color: rgba(0, 14, 51, 0.989);
}

.news-h3 {
    margin: 0;
    font-size: 20px;
    line-height: 1.35;
    font-weight: 500;
}

.news-h3 a {
    color: black;
    text-decoration: none;
}


#footer {
    height: 662px;
    background-color: #143AA2;
    color: white;
    font-family: "Plus Jakarta Sans", sans-serif;
    padding: 80px 72px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.footer-top {
    display: flex;
    gap: 50px;
}

#footer .topleft {
    display: flex;
    flex-direction: column;
    gap: 26px;
    width: 50%;
}

.email-box {
    display: flex;
    align-items: center;
    width: 498px;
    height: 40px;
    padding: 14px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

.email-box input {
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    color: #ffffff;
    font-size: 14px;
    padding-left: 10px;
}

.email-box input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.email-box button {
    background: transparent;
    border: none;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
    padding-right: 10px;
}

#footer .topright {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    width: 50%;
}

.col {
    width: 270px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.col .label {
    width: fit-content;
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
}

ul.list li {
    list-style: none;
    font-size: 16px;
    font-weight: 400;
    color: white;
    margin-bottom: 15px;
}

ul.list a {
    text-decoration: none;
    color: white;
}

.contact {
    font-size: 16px;
    font-weight: 400;
}

.contact p {
    width: fit-content;
    margin: 0 0 14px;
    line-height: 1.6;
}

.contact a {
    color: white;
    text-decoration: none;
}

.foooter-bottom {
    width: 90%;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    position: absolute;
    bottom: 30px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 1);
    color: rgba(255, 255, 255, 0.571);
}

.footer-links {
    display: flex;
    gap: 20px;
}

.footer-links a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.571);
}


img,
svg,
video,
canvas {
    max-width: 100%;
    height: auto;
}

html,
body {
    width: 100%;
    overflow-x: hidden;
}


.project-content img {
    width: 100% !important;
    height: auto !important;
    display: block;
}

.hamburger {
    display: none;
}

@media (max-width: 480px) {
    #topbar {
        display: none;
    }

    .project-description,
    .sa-desc,
    .sa-content img,
    .card,
    .info-card,
    .email-box {
        width: 100% !important;
    }


    .card,
    #footer,
    .teams,
    .services,
    .projects,
    .service-area,
    .blogs {
        height: auto !important;
    }

    #navbar,
    .banner,
    .projects,
    .services,
    .teams,
    .service-area,
    .blogs,
    #footer {
        padding-left: 16px !important;
        padding-right: 16px !important;
    }

    header {
        height: auto;
    }

    /* Navbar  */
    #navbar {
        position: relative;
        height: auto;
        padding-top: 12px;
        padding-bottom: 12px;
        gap: 10px;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 26px;
        height: 20px;
        cursor: pointer;
    }

    .hamburger span {
        display: block;
        height: 1px;
        width: 100%;
        background-color: #111926;
        border-radius: 2px;
    }

    .navmenu {
        display: none;
        flex-direction: column;
        gap: 12px;
        background-color: #fff;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 14px 16px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 9999;
    }

    .navmenu.active {
        display: flex;
    }

    .navmenu a {
        width: fit-content;
    }

    .navmenu a.active::after {
        content: "";
        position: absolute;
        left: 0px;
        bottom: -10px;
        height: 3px;
        background: #143AA2;
        border-radius: 3px;
    }


    .nav-left p .pro {
        top: -5px;
        right: 10px;
        font-size: 4px !important;

    }

    /* Avoid navright overflow */
    .navright {
        gap: 10px;
    }

    .navright a {
        font-size: 14px;
    }

    .banner {
        padding: 24px 14px !important;
    }

    .banner-content {
        width: 100% !important;
        margin-top: 40%;
        margin-left: 50px;
        padding-right: 40px;
    }

    .banner-content h1 {
        font-size: 26px !important;
        line-height: 1.2;
    }

    .banner-content p {
        font-size: 12px;
        line-height: 1.6;
        max-width: 100%;
    }

    .banner-content a {
        font-size: 12px;
    }

    /* Projects section */
    .project-top {
        height: auto !important;
        margin-bottom: 50px;
    }

    .project-content {
        margin-bottom: 50px;
        flex-direction: column;
    }

    .project-description {
        gap: 16px !important;
    }

    .project-description h1 {
        font-size: 24px !important;

    }


    /* teams */
    .service-top {
        width: 100%;
        height: auto;
    }

    .service-cards {
        gap: 10px;
    }

    .s-card {
        height: 250px;
        padding: 10px;
    }

    .s-card img {
        width: 20px !important;
        height: 20px !important;
    }

    .desc h2 {
        font-size: 15px !important;
    }

    .button a {
        font-size: 12px !important;
    }

    .a-nav {
        font-size: 15px;
        margin-top: 10px;
    }

    .a-nav img {
        width: 14px !important;
        height: 14px !important;

    }

    .sa-content {
        flex-direction: column;
        margin-top: 15px;
        gap: 10px;
    }



    .info-cards {
        gap: 24px !important;
    }

    .info .name {
        font-size: 13px;
        line-height: 1.2;
    }

    .info .designation {
        font-size: 11px;
        line-height: 1.2;
    }

    .info {
        margin-top: 10px;
    }

    .news-grid {
        grid-template-columns: 1fr !important;
        gap: 44px !important;
        margin-top: 40px !important;
    }

    .info-card img {
        width: 100% !important;
        height: auto !important;
    }

    .news-media {
        height: 260px !important;
    }

    .news-meta {
        margin: 0 auto;
    }

    .news-h3 {
        text-align: center;
    }

    .footer-top {
        gap: 30px !important;
        margin-bottom: 50px;
    }

    .foooter-bottom {
        flex-direction: column;
        gap: 10px;
        position: static;
        width: 100%;
        text-align: center;
    }

    .navright a {
        font-size: 14px;
    }

    .ptop-left h1,
    .service-top h1,
    .team-top h1,
    .a-top h1,
    .blog-top h1,
    .sa-desc h1,
    #footer h1 {
        font-size: 16px;

    }

    .ptop-left p,
    .service-top p,
    .team-top p,
    .a-top p,
    .blog-top p {
        font-size: 13px;
    }


    .card h2,
    .news-h3 {
        font-size: 17px;
        line-height: 1.35;
    }

    .card p,
    .sa-desc p,
    .sa-desc li {
        font-size: 14px;
        line-height: 1.6;
    }

    /* Footer */
    ul.list li,
    .contact,
    .footer-links a {
        font-size: 13px;
    }

    .a-navlink a {
        font-size: 12.5px;
    }


}

@media (max-width: 1024px) and (min-width: 481px) {

    #navbar,
    .banner,
    .projects,
    .services,
    .teams,
    .service-area,
    .blogs,
    #footer {
        padding-left: 32px;
        padding-right: 32px;
    }

    #navbar {
        height: auto;
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .navmenu {
        gap: 28px;
    }

    .navmenu a,
    .navright a {
        font-size: 15px;
    }

    .navleft p,
    .navleft p span {
        font-size: 26px;
    }

    .banner {
        height: auto;
        padding: 48px 32px;
    }

    .banner-content {
        width: 80%;
        margin-top: 120px;
        margin-left: 0;
    }

    .banner-content h1 {
        font-size: 40px;
        line-height: 1.2;
    }

    .banner-content p {
        font-size: 15px;
        line-height: 1.6;
    }

    .projects {
        height: auto;
    }

    .project-top {
        height: auto;
        margin-bottom: 60px;
    }

    .project-content {
        gap: 40px;
        margin-bottom: 60px;
    }

    .project-description {
        width: 100%;
        gap: 24px;
    }

    .project-description h1 {
        font-size: 28px;
    }

    .project-listing {
        gap: 20px;
    }

    .project-listing .card {
        width: 30%;
        height: auto;
    }

    .services {
        height: auto;
    }

    .service-top {
        width: 100%;
    }

    .service-cards {
        gap: 24px;
    }

    .s-card {
        width: 32%;
        padding: 32px;
    }

    .s-card h2 {
        font-size: 19px;
    }

    .teams {
        height: auto;
    }

    .info-cards {
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
        margin-top: 50px;
    }

    .info-card img {
        height: 260px;
    }

    .info .name {
        font-size: 15px;
    }

    .info .designation {
        font-size: 13px;
    }

    .service-area {
        height: auto;
    }

    .a-nav {
        margin-top: 40px;
        gap: 24px;
    }

    .a-navlink a {
        font-size: 14px;
    }

    .sa-content {
        gap: 40px;
        margin-top: 40px;
    }

    .sa-desc h1 {
        font-size: 22px;
    }

    .sa-desc p,
    .sa-desc li {
        font-size: 14px;
    }

    .blogs {
        height: auto;
    }

    .news-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 32px;
    }

    .news-media {
        height: 320px;
    }

    .news-h3 {
        font-size: 18px;
    }

    #footer {
        height: auto;
    }

    .footer-top {
        gap: 40px;
    }

    ul.list li,
    .contact,
    .footer-links a {
        font-size: 14px;
    }

    .ptop-left h1,
    .service-top h1,
    .team-top h1,
    .a-top h1,
    .blog-top h1,
    #footer h1 {
        font-size: 22px;
        line-height: 1.3;
    }

    .ptop-left p,
    .service-top p,
    .team-top p,
    .a-top p,
    .blog-top p {
        font-size: 14px;
    }

    .email-box {
        width: 100% !important;
    }
}